<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Опрос пройден!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<center>
	<div class="jumbotron text-center">
		<h2>Спасибо за ответ, {{ name }}!</h2>
	</div>
	<table>
		{% for name, url in urls.items() %}
		<tr><td><center><a href="{{ url }}">{{ name }}</a></center></td></tr>
		{% endfor %}
	</table>
</center>
</body>

</html>